Django==5.2.7
djangorestframework==3.16.1
django-cors-headers==4.9.0
djangorestframework-simplejwt==5.5.1

gunicorn==25.1.0

mysqlclient==2.2.7

requests==2.32.5
python-dateutil==2.9.0.post0
pytz==2025.2

psycopg2-binary
dj-database-url
numpy==2.2.0
pandas==2.2.3

google-generativeai==0.8.6

beautifulsoup4==4.13.4
urllib3==2.5.0

